@font-face {
    font-family: "Pretendard-Regular";
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
    font-style: normal;
}

html {
    font-size: 62.5%
}

body {
    margin: 0 auto;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #F2E9D8;

    width: 100%;
    height: 102px;

    padding-inline: calc(20px + (300 * ((100vw - 390px) / (1920 - 390))));

    box-sizing: border-box;
}

ul {
    list-style: none;
}

li {
    text-align: end;
}

a {
    text-decoration: none;
}

.baseFont {
    font-family: Pretendard-Regular, serif;
    /*font-size: 16px;*/
    font-weight: 400;
}

.baseBoldFont {
    font-family: Pretendard-Regular, serif;
    /*font-size: 48px;*/
    font-weight: 700;
}

.font48 {
    font-size: 4.8rem;
}

.font36 {
    /*font-size: 1.875vw*/
    font-size: 3.6rem;
}

.font24 {
    font-size: 2.4rem;
}

.font16 {
    font-size: 1.6rem;
    /*font-size:  0.8333vw;*/
}

.font14 {
    font-size: 1.4rem;
}

.highlightText {
    color: #D97652;
}

.fitImage {
    width: 100%;
    height: 100%;
}

.downloadBtn
{

}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.baseBtn {
    border-radius: 40px;
    border: none;
    width: 140px;
    height: 50px;
}

.orangeBtn {
    background-color: #D97652;
}

.colorBtnText {
    color: white;
}

.colorTextGray {
    color: #767676;
}


.topBackground {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #F2E9D8;

    padding-left: max(20px, calc(20px + (300 * ((100vw - 390px) / (1920 - 390)))));
    padding-right: max(20px, calc(20px + (300 * ((100vw - 390px) / (1920 - 390)))));

    box-sizing: border-box;
}


.headLogoImg {
    width: clamp(92px, 67%, 130px);

    object-fit: cover;
}

.headerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*width: 205px;*/
    height: 45px;
}

.headerTextNav {
    display: flex;
    gap: 30px;
}

.headerNavBtn {
    height: 20px;
    border: none;
    background-color: #F2E9D8;
}

.headerMenuBtn {

    border: none;
    background-color: #F2E9D8;

    height: calc(32px + (32 * ((100vw - 390px) / (768 - 390))));
    width: calc(32px + (32 * ((100vw - 390px) / (768 - 390))));
}

.headerBtnGroup {
    display: flex;
    align-items: center;
    gap: 50px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-flow: wrap;
    padding-inline: max(20px, calc(20px + (300 * ((100vw - 390px) / (1920 - 390)))));

    width: 100%;
    box-sizing: border-box;
}

.introductionSection {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #F2E9D8;
    width: 100%;
}

.introductionDesc {
    display: flex;
    flex-direction: column;

    width: calc(100vw * 0.36197);
    gap: 40px;
}

.introductionTitle {

}

.introductionImg {
    height: calc(360px + (404 * ((100vw - 390px) / (1920 - 390))));

    max-height: 766px;
    min-height: 360px;
    width: auto;
    max-width: 100%;
    object-fit: contain;
    align-self: flex-end;
}


.photoAlbumSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.photoAlbumTitle {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin-top: 80px;
}

.photoAlbumTitle_Img {
    width: 34.375vw;

    object-fit: cover;
    border-radius: 30px;
}

.photoAlbumTitleGap {
    width: calc(100vw * 0.057291);
}

.photoAlbumTitle_Desc {
    display: flex;
    flex-direction: column;
    gap: 30px;

    width: calc(100vw * 0.265625);
}

.photoAlbumDesc {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 40px;

    text-align: center;
    margin-top: 120px;

    width: 100%;
}

.photoAlbumGridContainer {
    display: grid;
    column-gap: 5.625%;

    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin-top: 84px;
}

.photoAlbumGridItem {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;

    border-radius: 30px;
    border: none;

}

.photoAlbum_img {
    object-fit: cover;
    object-position: center;
    border-radius: 30px;

    width: 100%;
    height: 100%;
}

.imgShadow {
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
    overflow: clip
}

.gridAdd {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 28px;

    margin-top: 100px;
    width: 100%;
}

.gridAddBtn {

}

.separateLine {
    margin-top: 80px;
    background-color: #C4C4C4;

    width: calc(100vw * 0.666);

    height: 1px;
}


.mapViewerSection {
    margin-top: 68px;
    width: 100%;
}

.mapViewerDesc {
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.mapViewer {
    margin-top: 48px;

    border-radius: 12px;
    width: 100%;
    height: calc(100vw * 0.666 / 2.46);
}


.subscribeSection {
    position: relative;
    display: flex;
    flex-direction: column;

    margin-top: 80px;
    width: 100%;
}

.subscribePost {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #263140;
    border-radius: 30px;
    border: none;
    box-sizing: border-box;

    width: 100%;
    padding: calc(30px + (30 * ((100vw - 390px) / (1920 - 390))));
    z-index: 1;
}

.subscribeTitle {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    gap: 20px;

    color: white;
}

.subscribeInputArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 42%;
}

.subscribeInput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    border: none;
    border-radius: 60px;
    width: 100%;
    height: 60px;

}

.subscribeInputForm
{
    width: 60%;
}

.subscribeInputField {
    border: none;
    outline: none;
    color: black;
    text-align: left;
    width: 90%;
}

.subscribeBtnArea {
    margin-right: 6px;
}

.subscribeButton {
    width: 135px;
    height: 50px;
}

::placeholder {
    text-align: left;
}

.subscribeBackgroundBox {
    position: relative;
    top: calc(-100px + (48 * ((100vw - 390px) / (1530))));
    width: 100%;
    height: calc((100vw / 1920) * 340);
    max-height: 340px;
    min-height: 240px;
}

.subscribeBackground {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 160px;

    margin-top: calc(-100px + (68 * ((100vw - 390px) / (1530))));;

    width: 100%;
    padding-inline: max(20px, calc(20px + (300 * ((100vw - 390px) / (1920 - 390)))));
    box-sizing: border-box;
}

.footerLeft {
    width: 100%;
    /*height: 100%;*/
    display: flex;
    justify-content: space-between;

}

.footerLogo {
    width: 226px;
    height: 70px;
}

.footerNav {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    padding-left: 0;
    gap: 20px;
}

.footerNavBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F29D52;
    border-radius: 50%;
    border: none;

    /*width: 42px;*/
    width: calc(32px + (10 * ((100vw - 390px) / (1920 - 390))));
    height: calc(32px + (10 * ((100vw - 390px) / (1920 - 390))));
}

.footerNavIcon {
    width: 57%;
    height: 57%;
}

.footerHiddenArea {
    display: none;
}

.footerNavTextBtn {
    display: flex;
    flex-direction: row-reverse;
}


.modal {
    display: none;
    position: fixed;
    align-items: center;
    left: 0;
    top: 0;

    background: rgba(0, 0, 0, 0.15);

    width: 100%;
    height: 100%;
    z-index: 5;
}

.modal_window {
    position: relative;
    left: 50%;
    top: 25%;

    background-color: #F2E9D8;
    border-radius: 30px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    width: 600px;
    height: 400px;
    transform: translate(-50%, -50%);
}

.modal_backGroundImg {
    width: 100%;

    background-color: pink;
    border-radius: 30px;
}

.modal_content {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 36px;
    justify-content: center;
    align-items: center;

    padding: 60px 0 40px 0;
}

.modal_contentText {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;

    width: 100%;
}

.modal_titleImg {
    /*display: flex;*/
    width: 20%;
    object-fit: contain;
}

.modal_btnSize {
    width: 183px;
    height: 50px;

    @media (max-width: 768px) {
        width: 158px;
        height: 40px;
    }
}

.closeModal {

}

.mobileMenu {
    display: none;
    position: fixed;

    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    z-index: 11;
}

.mobileMenu_out {
    width: 25%;
    height: 100%;
    background-color: black;
    opacity: 0.5;

    border: none;
}

.mobileMenu_Icon {
    width: 32px;
    height: 32px;
}

.mobileMenu_Btn {
    border: none;
    background-color: #263140;

    text-align: start;
    margin-bottom: 30px;
}

.mobileMenu_window {
    width: 75%;
    height: 100%;
    background-color: #263140;

    padding-left: 20px;
    padding-top: 22px;
}

.mobileMenu_windowContent {
    padding-left: 20px;
}

.mobileMenu_HideButton {

}

.scrollTopArea {
    position: fixed;

    bottom: 10%;
    right: 3%;

    width: 50px;
    height: 50px;
}

.scrollBtn {
    width: 100%;
    padding: 0;
    border: none;
    background-color: transparent;
}
.scrollImg
{
    width: 100%;

}

.loadingImg {
    animation: spin 2s linear infinite;
}

.loaded .photoAlbum_img{
    animation: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width: 1280px) {
    .subscribePost {
        flex-direction: column;
        gap: 30px;
        padding: calc(30px + (30 * ((100vw - 390px) / (1920 - 390))));
    }

    .subscribeInputArea {
        flex-direction: column;
        align-items: end;
        width: 100%;
        height: 100px;
    }

    .subscribeInput {
        width: 100%;
        flex-direction: row;
        position: relative;

        height: 40px;
    }

    .subscribeInputForm
    {
        width: calc(100% - 60px);
    }

    .subscribeBtnArea {
        margin: 0;
    }

    .subscribeButton {
        position: absolute;

        height: 40px;
        right: 0;

        top: 60px;
    }
}

@media (max-width: 1280px) {
    .font48 {
        font-size: 3.6rem;
    }
    .font36 {
        font-size: 3.2rem;
    }
    .font24 {
        font-size: 2.1rem;
    }
    .font16 {
        font-size: 1.5rem;
    }
    .font14 {
        font-size: 1.4rem;
    }
}


@media (max-width: 1024px) {
    .photoAlbumGridContainer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .photoAlbumTitle {
        flex-direction: column;
        gap: 40px
    }

    .photoAlbumTitle_Img {
        width: calc(100vw * 0.8358);
    }

    .photoAlbumTitle_Desc {
        width: 100%;
    }
}

@media (max-width: 768px) {
    header {
        height: 76px;
    }

    .font48 {
        font-size: 2.4rem;
    }
    .font36 {
        font-size: 2.4rem;
    }
    .font24 {
        font-size: 1.8rem;
    }
    .font16 {
        font-size: 1.4rem;
    }
    .font14 {
        font-size: 1.4rem;
    }

    .headerNav {
        justify-content: end;

    }

    .headLogoImg {
        width: calc(92px + (38 * ((100vw - 390px) / (768 - 390))));
    }

    .content {
        justify-content: center;
    }

    .introductionDesc {
        align-items: center;
        text-align: center;
        width: 100%;
        gap: 30px
    }

    .introductionTitle {
        margin-top: 40px;
    }

    .photoAlbumGridContainer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .modal_window {
        width: 300px;
        height: 300px;
    }

    .modal_content {
        gap: 30px;
        padding: 40px 0 30px 0;
    }

    .scrollTopArea
    {
        width: 40px;
        height: 40px;
    }

    footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .footerLogo {
        width: 112px;
        height: auto;
    }

    .footerLeft {
        flex-direction: column;
        width: 45vw;
        height: 100%;
    }

    .footerNav {
        gap: 16px;
    }

    .footerHiddenArea {
        display: flex;
    }
}

.onlyMobile {
    @media (min-width: 769px) {
        display: none;
    }
}

.onlyPc {
    @media (max-width: 768px) {
        display: none;
    }
}